@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap'); 

.heading{
  width: 100%;
  max-width: 1180px;
  margin: auto;
 
}


.formHeader{
   height: 60px;
   width: 100%;
   margin-top: 50px;
   margin-left: auto;
   margin-right: auto;
   background-color: #F1F5F7;
   border-radius: 12px;
}

.formProgress{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-left: 20px;
   padding-right: 20px;
}

.formRow{
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   gap: 10px;
}

.formHeading{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  color: #6D6D6D;  
}

.formHeadingLast{
  font-family: 'Poppins';
  font-style: normal;

  font-weight: 500;
  color: #6D6D6D;  
}

.hiddenWord{
   display: none;
   font-weight: 600;
   color: #082346;
}

.activeWord{
   font-weight: 600;
   color: #082346;
}

.activeCircle{
   background: #082346;
   color: white !important;
   transition: 0.4s ease;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   border: 1px solid #082346;
   height: 20px;
   width: 20px;
   font-weight: 700;
   font-size: 13px;
}

.greenCircle{
   background: #42A54C;
   border: 1px solid #42A54C;
   color: white !important;
   transition: 0.4s ease;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   height: 20px;
   width: 20px;
   font-weight: 700;
   font-size: 13px;
}

.active{
   height: 2.7px !important;  
 }

.formCircle{
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   border: 1px solid #082346;
   height: 20px;
   width: 20px;
   font-weight: 700;
   font-size: 13px;
   color: #082346;
}

.formUnderline{
   height: 1.4px;
   width: clamp(10px, 3vw, 60px);
   background-color: #6D6D6D;
}

/* -------------------------------------- */

.heading-text{
   margin-bottom: 40px;
   font-weight: 600;
   font-size: 32px;
   color: #082346;
   line-height: 48px;
   font-family: 'Poppins';
   font-style: normal;
   }
   
   .property-details{
   display: flex;
   align-items: center;
   background-color: #FAFAFA;
   border-radius: 4px;
   border: 1px solid black;

   }
   
   .property-image{
   /* width: 224px; */
   width: clamp(141px, 30vw, 224px);
   height: clamp(160px, 30vw, 224px);
   border-radius: 4px 0px 0px 4px;
   }
   
   .property-info{
   margin-left: 20px;
   line-height: 0px;
   margin-top: -14px;
   }
   
   .property-name{
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 600;
   font-size: clamp(18px, 4.8vw, 32px); 
   /* font-size: 32px; */
   color: #121212;
   }
   
   .property-address{
   font-family: 'Inter';
   font-style: normal;
   font-weight: 500;
   font-size: clamp(14px, 3vw, 20px); 

   margin-top: -14px;
   color: #484848;
   white-space: nowrap;
   }
   
   .landLord-details{
      display: flex;
      align-items: center;
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 600;
   font-size: 16px;
   color: #000000;
   margin-top: -5px;
   }
   
   .verifyImage{
   width: 14px;
   height: 14px;
   object-fit: contain;
   margin-left: 15px;
   }
   
   .verify{
      display: flex;
      align-items: center;
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   color: #42A54C;
   }
   
   .subHeading{
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   color: #484848;
   margin-top: -10px;
   }
   
   .subTitle{
   font-size: 16px;
   color: #000000;
   }

   /* ------------------------------- */

   .background-colour{
   margin-top: 40px;
   background-color: #FAFAFA;
   padding-bottom: 30px;
   border-radius: 4px;
   
   }

   .colgroupFirst{
   display: grid;
   grid-template-columns: 245px auto;
   }
   .colgroupSecond{
   margin-top: 20px;
   display: grid;
   grid-template-columns: 245px auto;
   }

   .rowTitle{
   padding-left: 40px;
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 600;
   font-size: 16px;
   color: #000000;
   white-space: nowrap;
   }

.columnAlign{
   grid-column: 2/-1;

}


   .borderDivider{
      border: 1px solid #E5E5E5;
      display: none;
      margin-bottom: 10px;
   }
   .borderDividerRent{
      border: 1px solid #E5E5E5;
      margin-top: 35px;
      display: none;
   }

  .flex{
   display: flex;
   align-items: flex-start;
   gap: 25px;
  }

   .firstInput{
   width: 36%;
   }
   
   .firstTitle{
   font-family: 'Inter';
   font-style: normal;
   font-weight: 500;
   font-size: 12px;
   color: #141414;
   white-space: nowrap;
   }


   .inputSetter{
   position: relative; 
   margin-top: -20px;
   display: flex;
   }
   .inputSetterRent{
      position: relative; 
      margin-top: -20px;
      display: flex;
   }

   .placeholderTitle{ 
   font-family: 'Poppins';
   font-style: normal;
   position: absolute;
   top: -16px;
   right: 14px;
   font-weight: 400;
   white-space: nowrap;
   font-size: 12px;
   background-color:transparent;  
   color: #6D6D6D;
   }
      
   
   input::placeholder{
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 12px;
   }

  .initialInput{
   width: 100%;
   }

   
   

   


   

   .inputWidthColor{  
   outline: none;
   padding: 10px;
   font-size: 15px;
   width: 100% ;
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   border: 1px solid #082346;
   border-radius: 4px;
   background: #F2F2F2;
   }

   .inputWidthWhite{  
   box-sizing: border-box;
   outline: none;
   padding: 10px;
   font-size: 15px;
   width: 100% ;
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   border: 1px solid #082346;
   border-radius: 4px;
   }

  
   /* ------------------------------- */
   .rentColumnCore{
      display: flex;
      flex-direction: column;
      /* align-items: flex-start;
      gap: 40px; */
         }

   .rentSubInput{
      margin-top: -25px;
      margin-right: 25px;
      width: 186px;
      }
      
#dynamicRentBoxes{
   margin-bottom: 25px;
}


      .rent-PlaceholderTitle{
         font-family: 'Poppins';
         font-style: normal;
         position: absolute;
         top: -16px;
         right: 7px;
         font-weight: 400;
         white-space: nowrap;
         font-size: 12px;
         background-color:transparent;  
         color: #6D6D6D;
      }

      .rentCalculator-select{
         margin-right: 3px;
         height: 40px;
         width: 78px;
         border-radius: 4px;
         padding: 10px;
         font-family: 'Inter';
         font-style: normal;
         font-weight: 400;
         font-size: 14px;
         border: 1px solid #082346;
      }
      
      .rentCalculator-input{  
         box-sizing: border-box;
         height: 41px;    
         font-size: 14px;
         width: 100px ;
         padding-left: 5px;
         border-radius: 4px;
         border: 1px solid #082346;
      }

      .rentCalculator-title{
      font-family: 'Inter';
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      margin-top: 40px;
      color: #141414;
      }
      
      .rentCalculator-fade{
         font-family: 'Inter';
         font-style: normal;
         font-weight: 400;
         font-size: 14px;
         margin-top: -15px;
         color: #6D6D6D;
      }
      
      .rentCalculator-dynamic{
         font-family: 'Inter';
         font-style: normal;
         font-weight: 500;
         font-size: 12px;
         line-height: 15px;
         color: #141414;
         margin-bottom: 3px;
      }

      .rentCalcTitle{
         font-family: 'Inter';
         font-style: normal;
         font-weight: 500;
         font-size: 12px;
         color: #141414;
         white-space: nowrap;
         margin-bottom: 23px;
      }
   
      .rentEscalation{
         margin-top: -25px;
      }
      
      .rentCalculator-inputLength{
         box-sizing: border-box;
         height: 41px;  
         font-size: 14px;
         outline: none;
         width: 186px ;
         padding: 10px;
         border-radius: 4px;
         border: 1px solid #082346;
         background: #F2F2F2;
      }
      
      .none-Available{
       font-family: 'Inter';
       font-style: normal;
       font-weight: 400;
       font-size: 16px;
       margin-top: 16px;
      }
      
      .rentCalculator-placeholderTitle{
         position: absolute;
         bottom: -22px;
         right: 0;
         font-weight: 400;
         white-space: nowrap;
         font-size: 12px;
         background-color: transparent;
         width: 60px;
         height: 30px;
         display: flex;
         align-items: center;
         justify-content: center;
         color: #6D6D6D;
         font-family: 'Poppins';
         font-style: normal;
         background-color: #F2F2F2;
      }
      
      
      
      
      
      
      .fa-arrow-right{
       margin-left: 20px;
       }







   /* ------------------------------- */

   .selectorFlexFirst{
      display: flex;
      align-items: flex-start;
      gap: 50px;
   }


   .selectorFlex{
      display: flex;
      align-items: flex-start;
      gap: 90px;
   }

   .selectorMargin{
    margin-top: 30px;
   }



.selectorTitle{
   font-family: 'Inter';
   font-style: normal;
   font-weight: 500;
   font-size: 12px;
   color: #141414;
   white-space: nowrap;
   margin-bottom: 5px;
}

   .monthsCount{
      margin-right: 30px;
      width: 141px;
      height: 40px;
      border-radius: 4px;
      padding: 10px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      border: 1px solid #082346;
     }

     .daysCount{
      width: 141px;
      height: 40px;
      padding: 10px;
      border-radius: 4px;
     
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      border: 1px solid #082346;
      }

      .dateSelector{
width: max-content;

      }

      .dateFormat{
padding-left: 10px;
      }

      .calendarIconArrow{
padding-left: 12px;
      }

      .calendarIconAlign{
       display: flex;
       justify-content: space-between;
       align-items: center;
      }

   .rentDate{
      cursor: pointer;
      margin-right: 30px;
      width: 140px;
      /* height: 40px; */
      background-color: white;
      padding: 11px 20px;
      /* padding-top: 12px;
      padding-bottom: 12px; */
      border-radius: 4px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      border: 1px solid #082346;
      
      }
      
      .rentMonth{
    
      width: 61px;
      height: 40px;
      padding: 5px;
      border-radius: 4px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      border: 1px solid #082346;
      
      }
      
      .rentYear{
      
      width: 86px;
      height: 40px;
      padding: 7px;
      border-radius: 4px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      border: 1px solid #082346;
      }
      
      .rent-endDate{
      
      width: 61px;
      height: 40px;
      padding: 7px;
      border-radius: 4px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      border: 1px solid #082346;
      }
      
   /* ------------------------------- */

   .underLine1{
      margin-top: 40px;
      height: 1px;
      background-color: #D9D9D9;
      width: 100%;
   }
   
   .buttonSet{
      width: 100%;
      margin-top: 45px;
      margin-bottom:50px;
      display: flex;
      justify-content: space-between;
   }
   
   .buttonReset1{
   display: flex;
   justify-content: center;
   align-items: center;
   border: 1px solid #082346;
   border-radius: 12px;
   background: #FFFFFF;
   /* padding: 16px 24px 16px 32px; */
   font-family: 'Poppins';
   font-style: normal;
   width: 185px;
   height: 62px;
   color: #082346;
   font-weight: 600;
   font-size: 20px;
   cursor: pointer;
   }
   
   .buttonContinue1{
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #082346;
      border-radius: 12px;
      background: #082346;
      padding: 16px 24px 16px 32px;
      font-family: 'Poppins';
      font-style: normal;
      width: 185px;
      height: 62px;
      color: #FFFFFF;
      font-weight: 600;
      font-size: 20px;
      cursor: pointer;
      }
   
   /* ------------------------------- */
  .selector{
   grid-column: 2/-1;
   width: 36%;
  }
   
   .select {
      margin-top: -20px;
      border-radius: 4px;
      border: 1px solid #082346;
      box-sizing: border-box;
      position: relative;
      width: 100%;
      height: 41px;
      background: #F2F2F2;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      color: #424242;
      line-height: 20px;
    }
   
    .select .selectBtn {
      background: var(--bg1);
      padding: 10px;
      box-sizing: border-box;
      border-radius: 3px;
      width: 100%;
      height: 39px;
      display: flex;
      align-items: center;
      cursor: pointer;
      position: relative;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
      background: #fff;
    }
   
    .select .selectBtn:after {
      content: "";
      position: absolute;
      top: 45%;
      right: 15px;
      width: 6px;
      height: 6px;
      -webkit-transform: translateY(-50%) rotate(45deg);
              transform: translateY(-50%) rotate(45deg);
      border-right: 2px solid #666;
      border-bottom: 2px solid #666;
      transition: 0.2s ease;
    }
   
    .select .selectBtn.toggle {
      border-radius: 3px 3px 0 0;
    }
   
    .select .selectBtn.toggle:after {
      -webkit-transform: translateY(-50%) rotate(-135deg);
              transform: translateY(-50%) rotate(-135deg);
    }
   
    .select .selectDropdown {
      position: absolute;
      top: 100%;
      width: 100%;
      border-radius: 0 0 3px 3px;
      overflow: hidden;
      background: var(--bg1);
      border-top: 1px solid #eee;
      z-index: 1;
      background: #fff;
      -webkit-transform: scale(1, 0);
              transform: scale(1, 0);
      -webkit-transform-origin: top center;
              transform-origin: top center;
      visibility: hidden;
      transition: 0.2s ease;
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    }
    .select .selectDropdown .option {
      padding: 10px;
      box-sizing: border-box;
      cursor: pointer;
      border-bottom: 1px solid #E0E0E0;
    }
    .select .selectDropdown .option:hover {
      background: #f8f8f8;
    }
    .select .selectDropdown.toggle {
      visibility: visible;
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
    }
    

    @media(max-width:700px){

      .buttonReset1{
        
         width: 180px;
         height: 51px;
         border-radius: 8px;
         }

         .buttonContinue1{
            
            width: 180px;
            height: 51px;
            border-radius: 8px;
            }

      .dateSelector{
         width: 100%;
      }
      .rentDate{
        width: calc(100% - 40px);
         
         }


      .selectorMargin{
         margin-top: 0px;
        }


      .selectorFlexFirst{
         flex-direction: column;
         gap: 0px;
      }
      .selectorFlex{
      gap: 35px;
      }
      
      .rentEscalation{
         margin-top: 0;
      } 

      .property-info{ 
      margin-top: 0px;
      }

      .landLord-details{
      flex-direction: column;      
      align-items: flex-start;
      }

      .verify{
      margin-top: 15px;
      }

      .inputSetter{
         margin-top: -33px;
         }

         .select {
            margin-top: -33px;
         
          }

      .verifyImage{ 
      margin-left: 0px;
      }


      .colgroupFirst{
         grid-template-columns: 1fr;
         }
         .colgroupSecond{
            display: grid;
            grid-template-columns: 1fr;
         }

         .flex{
            flex-direction: column;
            gap: 0;
         }

         .firstTitle{
            font-size: 16px;
            
            }


            .rentSubInput{
                  
                  width: 100%;
                  }

         .rowTitle{
            text-transform: uppercase;
            padding-left: 0;
            font-size: 20px;
            margin-bottom: 20px;

         }
         .selector{
            grid-column: 1/-1;
            width: 100%;
            margin-top: -15px;

           }


           .columnAlign{
            grid-column: 1/-1;
            
           }
     
     

         .borderDivider{
            display: block;
         }

         .borderDividerRent{
            display: block;

         }
         .firstInput{
            width: 100%;
            }

            .background-colour{
               padding-left: 20px;
               padding-right: 20px;
               
               }


               .rentColumnCore{
                  flex-direction: row;
                  align-items: flex-start;
                  gap: 40px;
                     }

.firstInput{
   margin-top: -15px;

}
      }