@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap'); 

.heading{
width:100%;
max-width: 1180px;
margin: auto;
}
    
.heading-text h1{
margin-bottom: 40px;
font-weight: 600;
font-size: 32px;
color: #082346;
line-height: 48px;
font-family: 'Poppins';
font-style: normal;
}
/* ------------------------------------ */
.left{
margin-left: 20px;
}
    
.right{
margin-right: 20px;
}


.form{
margin-top: 40px;
display: grid;
grid-template-columns: 240px auto; 
}
    
.form h5{
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
color: #000000;
}

.formIcon{
height: 20px;
width: 20px;
object-fit: contain;
color: #000;
margin-top: 15px;
margin-left: 5px;
}

.formAlign{
margin-top: -54px;
padding-left: 60px;
line-height: 0;

}
.formAlign h6{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
}

/*--------------------------------------------- */

.formBox{
height: 71px;
width: 277px;
box-sizing: border-box;
background: #F1F5F7;
border-radius: 12px;
padding: 10px;
}

.formBoxTitle{
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 20px;
color: #000000;
}



.formButtons{
display: flex;
margin-top: 20px;
}


.formButton{
cursor: pointer;
border: 1px solid #082346;
border-radius: 12px;
background: #FFFFFF;
padding: 8px 12px;
margin-right: 15px;
width: 91px;
height: 37px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 14px;
color: #082346;
}

.fa-share-nodes{
margin-left: 8px;
}

.fa-eye{
margin-left: 8px;
}

.submitGridCol{
    grid-column: 2 /-1;
}

.formScroll{
display: flex;
align-items: center;
margin-top: 30px;
padding: 10px 16px;
width: 67%;
background: #F1F5F7;
border-radius: 12px;

}

.formScroll h6{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #424242;
    }
    

.terms{
    display: flex;
    align-items: flex-start;
margin-top: 40px;
width: 70%;
font-weight: 400;
font-size: 14px;
line-height: 20px;
color: #424242;
}


.terms label{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
color: #424242;
}

.fa-arrow-right{
margin-left: 20px;
}
       
.fa-arrow-left{
 margin-right: 10px;
}
/* ----------------------------------- */
.requestUnderLinee{
    margin-top: 49px;
    height: 1px;
    background-color: #D9D9D9;
    width: 100%;
    }
    
    .button{
    width: 100%;
    margin-top: 45px;
    margin-bottom:50px;
    display: flex;
    justify-content: space-between;
    }
    
    .buttonReset{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #082346;
    border-radius: 12px;
    background: #FFFFFF;
    padding: 16px 24px;
    width: 185px;
    height: 62px;
    color: #082346;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    cursor: pointer;
    }
    
    .flexBtns{
    display: flex;
    gap: 35px;
    }
 
    .buttonMid{
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #FFFFFF;
    border-radius: 12px;
    padding: 16px 0px 16px 16px;
    width: 144px;
    height: 62px;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    font-family: 'Poppins';
    font-style: normal;
    color: #082346;
    border-width: 0;
    }
    
    .buttonContinue{
        display: flex;
        justify-content: center; 
        align-items: center; 
        border: 1px solid #082346; 
        border-radius: 12px;
        background: #082346;
        padding: 16px 24px 16px 32px;
        width: 185px;
        height: 62px;
        color: #FFFFFF;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        cursor: pointer;
    }
    
  
    
/* ----------------------------------------------------------------- */
.formHeader{
    height: 60px;
    width: 100%;
    max-width: 1180px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: #F1F5F7;
    border-radius: 12px;
}

.formProgress{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

.formRow{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    position: relative;
}

.formHeading{
   font-family: 'Poppins';
   font-style: normal;
   margin-right: 30px;
   font-weight: 500;
   color: #6D6D6D;  
   cursor: pointer;
}
.formHeadingLast{
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 500;
   color: #6D6D6D;  
   cursor: pointer;
}

.activeWord{
    font-weight: 600;
    color: #082346;
}

.activeCircle{
    background: #082346;
    color: white !important;
    transition: 0.4s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #082346;
    height: 20px;
    width: 20px;
    font-weight: 700;
    font-size: 13px;
}

.greenCircle{
    background: #42A54C;
    border: 1px solid #42A54C;
    color: white !important;
    transition: 0.4s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    font-weight: 700;
    font-size: 13px;
}

.active{
    height: 2.7px !important;  
  }

.formCircle{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #082346;
    height: 20px;
    width: 20px;
    font-weight: 700;
    font-size: 13px;
    color: #082346;
}

.formUnderline{
    height: 1.4px;
    width: 60px;
    background-color: #6D6D6D;
}

@media(max-width:700px){
    .form{
        
        grid-template-columns: 140px auto; 
        }

        .formScroll{
            
            width:calc(100% - 30px) ;
            
            
            }

.terms{
    width: 100%;
}



    .submitGridCol{
        grid-column: 1 /-1;
    }
}