@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 

    .heading{
    width:100%;
    max-width: 1180px;
    margin: auto;
    }
    
    .heading-text h1{
    margin-bottom: 40px;
    font-weight: 600;
    font-size: 32px;
    color: #082346;
    line-height: 48px;
    font-family: 'Poppins';
    font-style: normal;
    }
    
       .subTitle{
        margin-top: -20px ;
        display: flex;
        align-items: center;
        position: relative;
        }
        
        .subTitle h4{
        white-space: nowrap;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        color: #082346;
        }
        
.fadedText{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    margin-top: -29px;
    color: #808080;
}

.alignCheckbox{
    position: absolute;
    bottom: -35px;
    display: flex;
}
.alignCheckbox h6{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    margin-left: 5px;
    color: #082346;
    
}

.occupantDate{
    height: 36px;
    width: 57px;
    position: absolute;
    bottom: -15px;
left: 0;
}

.occupantMonth{
    position: absolute;
    bottom: -15px;
    left: 80px;

    height: 35px;
    width: 57px;
}

.occupantYear{
        position: absolute;
        bottom: -15px;
        left:160px ;

    height: 35px;
    width: 67px;
}

.addTenant{
    position: absolute;
    bottom: -95px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 36px;
    color: #082346;
}

.deleteIcon{
    width: 14px;
    height: 16px;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    left: 1140px;
    bottom: -39px;
    }

    
        .row-Gap{
            margin-top: 40px;
            display: flex;
            align-items: center;
            position: relative;
            }


        .row-Gap h5{
            padding-right: 150px;
             margin-left: 40px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            color: #000000;
            }
         .more-Gap{
            margin-top: 70px;
            display: flex;
            align-items: center;
            position: relative;
            }


        .more-Gap h5{
            padding-right: 150px;
             margin-left: 40px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            color: #000000;
            }

          




      /*  .mid-Gap{
            margin-top: 30px;
            display: flex;
            align-items: center;
            position: relative;
            }


        .mid-Gap h5{
            padding-right: 150px;
             margin-left: 40px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            color: #000000;
            } */
           
        .firstTitle{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            color: #141414;
            white-space: nowrap;
            }

        .inputWidth{  
            height: 30px;  
            font-size: 15px;
            width: 340px ;
            position: absolute;
            bottom: -15px;
            }

                        
        /* ------------------------------------ */
        .specialDiv{
            position: absolute;
            left: 240px; 
        }
        .firstDiv{
            position: absolute;
            left: 290px;    
        }

        .secondDiv{
            position: absolute;
            left: 665px;    
        }
        .thirdDiv{
            position: absolute;
            left: 830px;   
        }

        .forthDiv{
            position: absolute;
            left: 995px;  
        }
        .secondrowAbsolute{
            position: absolute;
            bottom: -25px;
        }
        .specialrowAbsolute{
            position: absolute;
            bottom: 5px;
        }
        .thirdrowAbsolute{
            position: absolute;
            bottom: -118px;
        }

        .forthrowAbsolute{
            position: absolute;
            bottom: -210px;
        }
      
        .fifthrowAbsolute{
            position: absolute;
            bottom: -300px;
        }

        .selectWidth{
            margin-right: 30px;
            height: 36px;
            width: 141px;
        }

        .selectLength{
            height: 36px;  
            font-size: 15px;
            width: 350px ;
            position: absolute;
            bottom: -15px;
        }


        .lease-companyText{
            margin-right: 30px;
            height: 36px;
            width: 141px;
            position: absolute;
            bottom: -15px;
        }
        .lease-companyNoText{
            margin-right: 30px;
            height: 36px;
            width: 141px;
            position: absolute;
            bottom: -85px;
        }
        .lease-input{
            margin-right: 30px;
            height: 30px;
            width: 121px;
            position: absolute;
            bottom: -85px;
        }

        .button1{
            margin-right: 30px;
            height: 36px;
            width: 87px;
        }
        .button2{
            height: 36px;
            background: #082346;
            border: 1px solid #082346;
            border-radius: 4px;
            color: #FFFFFF;
            width: 87px;
         }
        
         .specialButton{
            background: #FFFFFF;            
            border: 1px solid #082346;
            border-radius: 4px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 12px 23px;
            gap: 8px;
            margin-right: 25px;
         }

        .first-occupantBackground{
            margin-top: -40px;
            background-color: #FAFAFA;
            height: 500px;
            margin-bottom: 32px;
        }
        .second-occupantBackground{
            margin-top: -40px;
            background-color: #FAFAFA;
            height: 420px;
            margin-bottom: 32px;
        }
      







         .select{ 
            display: none;
            }
        
            input[type="file"] {
            display: none;
            }
        
            .labelIcon{
        display: flex;
        justify-content: flex-end;
        padding-left: 17px;
            }
        
        
            .inputLabel{
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                cursor: pointer;
                box-sizing: border-box;
                position: absolute;
                bottom: -15px;
                height: 35px; 
                width: 298px;
                border: 1px solid #082346;
                /* border-radius: 4px; */
                padding: 10px;
                font-size: 14px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                background-color: white;
            } 
















        /* ----------------------------------- */
        .underLine{
            margin-top: 50px;
            height: 1px;
            width: 1180px;
            background-color: #D9D9D9;
        }
        
        .button{
            width: 1180px;
            margin-top: 45px;
            margin-bottom:50px;
        display: flex;
        justify-content: space-between;
        position: relative;
        }
        
        .buttonReset{
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #082346;
        border-radius: 12px;
        background: #FFFFFF;
        padding: 16px 24px;
        width: 185px;
        height: 62px;
        color: #082346;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        }
        
        .buttonMid{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            border: 1px solid #082346;
            background: #FFFFFF;
            border-radius: 12px;
            padding: 16px 24px;
            width: 144px;
            height: 62px;
            font-weight: 600;
            font-size: 20px;
            line-height: 30px;
            position: absolute;
            right: 207px;
            font-family: 'Poppins';
        font-style: normal;
        color: #082346;
        }
    
        .buttonContinue{
            /* position: absolute;
            right: 0; */
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #082346;
            border-radius: 12px;
            background: #082346;
            padding: 16px 24px;
            width: 185px;
            height: 62px;
            color: #FFFFFF;
            font-weight: 600;
            font-size: 20px;
            line-height: 30px;
            }